body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Componentes Ficha Producto */
.fotoProducto{
  color:blueviolet;
}

.nombreProducto{
  color:chartreuse;
}

.detalleProducto{
  color:springgreen;

}

.fichaProducto{
  border: 1px solid #000000;
  -moz-border-radius: 7px;
  border-radius: 7px;
  max-width: 250px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconCart{
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 2rem;
  }

.ItemsEnCarrito{
  display: flex;
  justify-content: space-between;
}