body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background: url(./Img/fondo.jpg) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Componentes Ficha Producto */
.fotoProducto{
  color:blueviolet;
}

.nombreProducto{
  color:chartreuse;
}

.detalleProducto{
  color:springgreen;

}

.fichaProducto{
  border: 1px solid #000000;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: rgb(94, 37, 37, 0.8);
  margin-left: 5px;
  margin-bottom: 12px;
}

.iconCart{
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 2rem;
  }

.ItemsEnCarrito{
  display: flex;
  justify-content: space-evenly;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 4px;
}

#divArticulos{
  display: flex;
  flex-wrap: wrap;
}

/* ItemDetail - Estilo */

.itemDetalle{
  display: grid;

  grid-template-areas: "infoProducto imagenProducto"
                        "itemCount itemCount2";
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 1fr;
    border: 1px solid #000000;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width: 600px;
    height: 450px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(94, 37, 37, 0.8);
    margin-left: 5px;
    margin-bottom: 12px;
  
}
.infoProducto{
 grid-area: "infoProducto";

}
.imagenProducto{
  grid-area: "imagenProducto";
  padding-top: 75px;
}
.ItemsEnCarrito{
  grid-area: "itemCount";
  margin-top: 20px;
  padding-top: 10px;
 background-color: rgb(145, 160, 160);
 }

.botonAgregar{
  
  grid-area: "itemCount2";
}
.tituloDetalle{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  color:rgb(18, 199, 87);
 
}
#titDetalle{
  font-size: 30px;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
.precioDetalle{
 
  font-size: 20px;
  color: rgb(216, 43, 43);
 
}
#precDetalle{
 font-size: 30px;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
.detalleDetalle{
  font-size: 20px;
  margin-top: -24px;
}
.btnProductoAgregado{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  }

.btnCompraMas{

  margin-left: 15px;
}

.divMapeado{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  justify-content: space-between;
}

.alCarritoProducto{
  background-color: rgb(17, 1, 1);
  margin-right: 12px;
  margin-left: 8px;
  
}

.bannerHome{
  text-align: center;
  font-size: 120px;
  margin-top: 70px;
  color: rgb(62, 49, 240);
}


.topNav a.selected{
  padding: 4px 4px 4px 4px;
  border: 2px solid #000000;
  -moz-border-radius: 7px;
  border-radius: 7px;
}



.navItem{
  margin-left: 2px;
  margin-right: 20px;
  justify-content: center;
}
.cantCarrito{
  color: rgb(206, 35, 35);
  font-size: 25px;
  display: inline-flex;
  justify-content: space-between;
}
.restaStock{
  justify-self: left;
}

.tablaCart{
  background-color: rgb(231, 231, 231);
}
.carritoVacio{
  background-color: rgb(94, 37, 37, 0.8);
  text-align: center;
  padding: 20px 20px 20px 20px;
}
.cartContenido{
 
  border: 1px solid #000000;
  -moz-border-radius: 7px;
  border-radius: 7px;
  
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: rgb(94, 37, 37, 0.8);
  margin-left: 220px;
  margin-bottom: 12px;
  padding: 20px 20px 20px 20px;
  }

.filaCart{
  text-align: center;
}

.NavBarStyle{
  justify-content: right;
   padding-left: 10px;
   
}

.opcionesNav{
  display: flex;
  justify-content: center;
}